

body {
    background-color: #0c5d4b;
    color: var(--text-color-header);
}

#title-support {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    font-size: clamp(1rem, 10dvh, 100rem);
    font-weight: bold;
    color: var(--text-color-header);
}